<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Distributed Games</title>

</head>

<body>
<div class="score"></div>
<div class="gameCard">
    <div class="bp3-card">
        <button class="bp3-button" onclick="fetch_game()" >play game</button>
	 <div class="game_content"></div>
    </div>
<script>
     function showScore(score)
    {
     document.getElementsByClassName("score")[0].innerHTML="<h1>Your Score:"+score+"</h1>"
        fetch_game()
    }
    async function  fetch_game()
    {
        phrase=await fetch("http://127.0.0.1:5000/").then(res=>res.json())

        listOfStories=[]
        listOfAnswers=[]
        body_obj=await fetch("http://127.0.0.1:5000/"+phrase).then(res=>res.json())
        for (let key in body_obj)
        {

            listOfStories.push(key)
            listOfAnswers.push(value=(key,body_obj[key]))

        }
        const game_card=document.createElement("game_card");
        game_card.className="__TF_IDF_GAME"

        game_html=[]
        game_html.push("<h1>"+phrase+"</h1>")

        for (let i=0 ;i<4;i++)
        {
            tmp_html="<button  onclick='showScore("+listOfAnswers[i]+")'>"+listOfStories[i]+"</button></br>"
            game_html.push(tmp_html)
        }
        document.getElementsByClassName("game_content")[0].innerHTML=game_html

    }


</script>
</div>
</body>
</html>